.container
{
    color: white;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(240, 240, 240, 0.2);
    padding: 0.5em;

    border-radius: 1em 1em 0em 0em;
    
}

.flex-row
{
    display: flex;
    gap: 1em

}